*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}
body
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    background-color:#d8d2d2;
}

.dropdown
{
    position: relative;
    width: 320px;
    height: 50px;
    background-color: #fff;
    cursor: pointer;
}
.dropdown input
{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 19px;
    cursor: pointer;
}
.dropdown::before
{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    right: 20px;
    top: 15px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform:rotate(-45deg);
    cursor: pointer;
    transition: all 0.2s ease;
}
.dropdown.active::before
{
    top: 22px;
    transform:rotate(-225deg);
}
.dropdown .option
{
    position: absolute;
    top:70px;
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    display: none;
   
}
.dropdown.active .option 
{
    display:block;
}
.option div
{
    padding: 15px 30px;
    transition: all 0.1s ease;
    font-weight: bold;
}
.option div i
{
    position: relative;
    top: 3px;
    padding-right: 5px;
    font-size:20px;
}
.option div:hover
{
    background-color:#62baea ;
    color: #fff;
}