*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(184, 235, 217);
}
.btn
{
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    padding: 16px 20px;
    background-color:#06b2f0;
    cursor: pointer;
    border-radius: 5px;
}
.btn span{
    padding: 0 8px;
    font-size:20px;
    color: #fff;
}
.btn:hover
{
    background-color: #00a8e8;
}
.btn.timer
{
    color: #000;
    background:none;
    font-size: 25px;
}
.btn.timer p{
    color:#06b2f0;
    padding: 0 5px;
    text-align: center;
    font-weight: 700;
}